.titulo{
            border: 2px solid rgb(221, 104, 221);
            text-align:center;
            color: rgb(255, 255, 255);
            background-color: rgb(91, 104, 241);
        }
.main{
    background-color: rgb(241, 91, 99);
    width:100%;
    overflow:auto;
}
.submain1{
    float:left;
    width:50%;
    height: 150px;
    background-color: rgb(110, 87, 8);
}
.submain2{
    width: 50%;
    height: 150px;
    background-color: rgb(16, 218, 218);
}
.submain1 div{
    height:75px;
}
